In [43]:
import os
import csv
import requests
import pandas as pd
import json
from pprint import pprint
api_key='KMXu7o4jj9H_5fBmmoxcQUXUcjaIiDMpnabg34SZhyJUQPt-H6y8sfBIq8jI65xOovUH7cKhDpTUnvK2UIFOf1r5864boyx0PCcIwR4QQ1OeR8IWr5RO7UxW3HJoXXYx'
headers = {'Authorization': 'Bearer %s' % api_key}
url='https://api.yelp.com/v3/businesses/search'

In [44]:
# In the dictionary, term can take values like food, cafes or businesses like McDonalds
cities =['new york city','san francisco','houston','chicago']
restaurants = []
for city in cities:
    for offset in range(0,500,50):
        params = {'term':'seafood','location':city,'limit':50, 'offset':offset}
        response = requests.get(url, params=params, headers=headers).json()
#         bussearch_response_json = response.json()
        restaurants.append(response)

In [75]:
final = {}
data = []
for j in range(len(restaurants)):
    for i in range(len(restaurants[j]['businesses'])):
        final['Restaurant ID'] = restaurants[j]['businesses'][i]['id']
        final['Name'] = restaurants[j]['businesses'][i]['name']
        final['Rating'] = restaurants[j]['businesses'][i]['rating']
        final['Zipcode'] = restaurants[j]['businesses'][i]['location']['zip_code']
        final['State'] = restaurants[j]['businesses'][i]['location']['state']
        data.append(final)

In [82]:
restaurants[0]['businesses'][0]

{'id': 'ehUuSk5gPTCQmwS_ubgKRA',
 'alias': 'upstate-new-york-2',
 'name': 'Upstate',
 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/RvnUVU7MF7DT0RzNL-EebQ/o.jpg',
 'is_closed': False,
 'url': 'https://www.yelp.com/biz/upstate-new-york-2?adjust_creative=PR-SYvR1gRsEOO-jJ-FdTA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=PR-SYvR1gRsEOO-jJ-FdTA',
 'review_count': 1770,
 'categories': [{'alias': 'seafood', 'title': 'Seafood'},
  {'alias': 'wine_bars', 'title': 'Wine Bars'},
  {'alias': 'beerbar', 'title': 'Beer Bar'}],
 'rating': 4.5,
 'coordinates': {'latitude': 40.7263139141197, 'longitude': -73.9864901976935},
 'transactions': ['restaurant_reservation'],
 'price': '$$',
 'location': {'address1': '95 1st Ave',
  'address2': '',
  'address3': '',
  'city': 'New York',
  'zip_code': '10003',
  'country': 'US',
  'state': 'NY',
  'display_address': ['95 1st Ave', 'New York, NY 10003']},
 'phone': '+16467915400',
 'display_phone': '(646) 791-5400',
 'distance': 2411.9187177986864}

In [78]:
restaurants_df = pd.DataFrame(data)

In [83]:
restaurants_df.head()

        Name  Rating           Restaurant ID State Zipcode
0  Masa Azul     4.5  zipWyPrxNX8m5XFwm3b1lg    IL   60647
1  Masa Azul     4.5  zipWyPrxNX8m5XFwm3b1lg    IL   60647
2  Masa Azul     4.5  zipWyPrxNX8m5XFwm3b1lg    IL   60647
3  Masa Azul     4.5  zipWyPrxNX8m5XFwm3b1lg    IL   60647
4  Masa Azul     4.5  zipWyPrxNX8m5XFwm3b1lg    IL   60647

In [85]:
restaurants_df.shape

(2000, 5)